<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SyncWalkman-gui</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5739D336BF492E05DB9D26174E301ECF81244533</string>
				<key>dateExpires</key>
				<string>2024/03/26</string>
				<key>type</key>
				<string>Developer ID Application</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5739D336BF492E05DB9D26174E301ECF81244533</string>
						<key>dateExpires</key>
						<string>2024/03/26</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>SyncWalkman.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y6NNK3UQHG</string>
						<key>name</key>
						<string>Seiji Harazono</string>
					</dict>
				</dict>
			</array>
			<key>name</key>
			<string>SyncWalkman-gui.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Y6NNK3UQHG</string>
				<key>name</key>
				<string>Seiji Harazono</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
